<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="ANVI" content="Devcrud">
    <title>NaturalWinds</title>
    <link rel="stylesheet" href="static/vendors/themify-icons/css/themify-icons.css">
    <link rel="shortcut icon" href="static/imgs/Naturalwinds_logo.png" />
	<link rel="stylesheet" href="static/css/Naturalwinds.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <header class="header">
        <div class="overlay">
            <h1 class="title">Error 404</h1> 
            <h1 class="title">Página no encontrada...</h1> 
            <h1 class="subtitle">la página a la que desea acceder no está disponible, le recomendamos volver al <a href="/login">login</a></h1>
            
        </div>      
    </header>
</body>
</html>
